.ele-game-wrap {
    background: #f6f6f6
}

.clear {
    clear: both
}

li,
ul {
    list-style: none
}

.gm_con_to {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    margin-bottom: 12px;
}

.six_con_to {
    background: #fff
}

.color-blue {
    color: #2ca8e6
}

.color-green {
    color: #e84f31
}

.top-bg {
    width: 100%;
    height: 260px
}

.bet-top {
    position: relative;
    top: 0
}

.game-icon1 {
    width: 114px;
    height: 114px;
    float: left;
    margin-right: 25px;
    position: relative;
    left: 0;
    top: 3px
}

.fbox {
    width: 100%;
    overflow: visible
}

.datainfo {
    overflow-y: scroll;
    min-height: 100px;
    max-height: 300px;
    text-align: left
}

#JS_blockPage {
    top: 10%
}

.gct_l {
    width: 605px;
    margin: 10px -5px 10px 0;
    height: 120px
}

.game-icon2 div,
.game-icon2 h3,
.gct_l {
    float: left
}

.gct_l h3 {
    font-size: 16px;
    color: #666;
    line-height: 20px;
    padding-top: 15px;
    font-weight: 400
}

.gct_now {
    color: #666;
    line-height: 20px;
    padding-top: 5px
}

.gct_now a {
    color: #FFF
}

.bt01 {
    margin-top: 5px;
    padding: 1px 10px;
    display: inline-block;
    border: 1px #F13131 solid;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    background: #F13131
}

.bt01:hover {
    border: 1px #DD0303 solid;
    background: #DD0303
}

.time-title {
    color: #e84f31;
    float: right;
    margin: 15px 130px 10px 0;
    display: inline-block
}

.beting-time {
    float: right;
    position: relative;
    top: 7px;
    left: -25px;
    font-family: DISPLAYFREETFB, 'Microsoft Yahei'
}

.beting-time .leaveh-1,
.beting-time .leaveh-2,
.beting-time .leavem-1,
.beting-time .leavem-2,
.beting-time .leaves-1,
.beting-time .leaves-2 {
    width: 42px;
    height: 54px;
    color: #fff;
    margin-right: 2px;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    line-height: 40px;
    display: inline-block;
    text-shadow: 1px 1px #000;
    background: url(../../img/lottery/xiazhu/all_ico.png) -262px -130px no-repeat;
    padding: 5px 0 0 0
}
.beting-time .big-wid {
    /* width: 84px;
    background: url(../../img/lottery/xiazhu/all_ico.png) -262px -130px;
    background-repeat: repeat; */
}

.beting-time .interval {
    font-family: 'Microsoft Yahei';
    display: inline-block;
    height: 54px;
    line-height: 64px;
    color: #30343E;
    font-size: 28px;
    text-align: center;
    margin-right: 3px;
    position: relative;
    top: -10px;
    left: -2px
}

#showgd-box-new {
    float: right;
    color: #666;
    width: 390px;
    margin-top: 10px;
    margin-left: -10px;
    position: relative;
    border-left: 1px #CECECE dashed
}

.box-ul {
    float: right;
    width: 30px
}

.box-ul a {
    float: right;
    display: inline-block;
    padding: 2px 0 0 8px;
    text-decoration: none;
    color: #f6f6f6;
    background: #8d8e94;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

#tabs_container {
    width: 350px;
    position: relative
}

#gd-box1,
#gd-box2 {
    float: left;
    width: 358px;
    height: 120px;
    top: 0 !important
}

#gd-box1 p {
    margin: 15px 0 0 28px
}

#showgd-box-new li a:hover {
    background: #DD0303
}

.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hideleft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
}

.showleft {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s
}

.tabulous_active {
    background: #F13131 !important;
    border-right: 1px #F13131 solid !important
}

.tabulousclear {
    display: block;
    clear: both
}

.lot-gd1 {
    margin-top: 20px;
    text-align: center;
    display: block
}

.lot-gd1 li {
    display: inline-table;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #F13131;
    border: 3px #F13131 solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
    color: #f6f6f6;
    font-weight: 800;
    margin-right: 12px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

.show-keno {
    margin-top: 5px;
    margin-left: 20px
}

.lot-gd1 li.keno {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 4px;
    margin-bottom: -3px;
    color: #fff;
    border: 2px #808cb0 solid;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    background: #273041
}

#gd-box2 {
    padding: 5px 0 0 10px
}

#gd-box2 p {
    height: 23px
}

.gd-box-q {
    color: #12b35e;
    font-weight: 700;
    min-width: 56px;
    text-align: center;
    display: inline-block
}

.gd-box-h {
    font-weight: 700;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-right: 4px
}

.tz_body {
    color: #211f1d;
    padding-bottom: 1px
}

.tab-back .content,
.tab-front .content {
    padding: 6px 32px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer
}

.tab-front a:hover {
    color: #FFF
}

#changemode .content:hover,
#lt_buy:hover,
.tab-back .content:hover,
.unit_title .tab-front .content {
    background: url(../../img/lottery/unit_hover.jpg) repeat-x;
    color: #fff
}

#changemode .content {
    line-height: 18px;
    background: -moz-linear-gradient(top, #808cb0, #5a627a);
    background: -o-linear-gradient(top, #808cb0, #5a627a);
    padding: 10px 30px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

#changemode .content:active,
#lt_buy:active,
.yh:active {
    background: #e84f31;
    color: #fff;
    text-shadow: 0 1px #bfc9e8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2) inset
}

#tabCon {
    border: solid 1px #e1e1e1;
    background: #e6e6e6
}

#tabbar-div-s3 {
    font-size: 12px;
    text-align: left;
    padding: 10px 0 10px 5px;
    overflow: hidden
}

#tabbar-div-s3 li {
    color: #F13131;
    height: 30px;
    display: block
}

#tabbar-div-s3 div {
    margin-left: 15px;
    border: 1px rgba(0, 0, 0, 0) solid
}

.act,
.back,
.tz_title {
    float: left
}

#tabbar-div-s3 span {
    padding: 0 15px;
    line-height: 28px;
    display: inline-block
}

#tabbar-div-s3 div span:hover {
    color: #f13131;
    cursor: pointer
}

.back {
    color: #666
}

.act {
    color: #f13131;
    border: 1px #f13131 solid !important;
    border-radius: 5px
}

.tzn_body {
    font-size: 14px;
    position: relative
}

.tbn_b_top,
.tbn_cen,
.tbn_top {
    width: 960px;
    position: relative;
    margin: 0 auto;
    padding: 10px 0 5px 25px;
    overflow: hidden
}

.tbn_b_top {
    padding-top: 10px;
    border-bottom: 1px #cecece dashed
}

.tbn_top {
    padding: 10px 10px 0 15px
}

.tbn_top h5 {
    float: left;
    font-weight: 400;
    padding-left: 10px;
    color: #111
}

.more {
    background: #e84f31;
    color: #fff;
    font-size: 12px;
    mini-width: 220px;
    max-width: 280px;
    border-radius: 5px
}

.more>div {
    padding: 8px 20px 0 0
}

.more:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50px;
    bottom: -4px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #e84f31 transparent
}

#lt_example,
#lt_help {
    color: #e84f31;
    float: left;
    font-size: 12px;
    margin: 3px 0 0 10px;
    cursor: pointer;
    padding-left: 17px;
    width: auto
}

.gds {
    margin-bottom: 5px;
    overflow: hidden
}

.tiempty {
    float: left;
    width: 145px;
    height: 1px
}

.gd,
.gd div,
.gds li,
.ti,
.to {
    float: left
}

.ti,
.to {
    font-size: 16px;
    color: #000;
    line-height: 36px;
    text-align: center;
    border-radius: 36px;
    background: #e7e7e7;
    box-shadow: 0 3px 5px #bbb inset;
    margin-top: 7px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

.to {
    margin-left: 28px
}

.ti {
    width: 120px;
    margin-right: 25px
}

.bl,
.gd,
.gdksts,
.gdts,
.odds {
    margin: 2px 0;
    float: left;
    padding: 5px 15px;
    border-radius: 25px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear
}

.gd:hover,
.selposition:hover,
.to:hover {
    background: rgba(234, 114, 26, .1);
    box-shadow: 0 3px 5px #d4bead inset
}

.bl div,
.dxjoq,
.gd div,
.gdksts div,
.gdts div,
.possibleprize,
.random_button {
    float: left;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 2px #ccc;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #8f8f8f;
    font-weight: 500;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

.gdsum div {
    margin: 5px
}

.bl div,
.gdksts div,
.gdts div,
.possibleprize,
.random_button {
    padding: 1px 20px;
    font-size: 16px;
    border-radius: 5px
}

.bl div:hover,
.gd div:hover,
.gdksts div:hover,
.gdts div:hover,
.random_button:hover {
    border: 1px #e84f31 solid
}

.bl .on,
.gd .on,
.gdksts .on,
.gdts .on,
.on,
.to .on {
    background: #e84f31;
    color: #fff
}

.gd .sha {
    background: #cdcdcd;
    color: #fff
}

.gd .redb {
    background: #ff7575;
    color: #fff
}

.gd .blueb {
    background: #7D7DFF;
    color: #fff
}

#lt_selector .to li:nth-last-child(2).on {
    background: #11b35e
}

#lt_selector .to li:hover {
    border: 1px #e84f31 solid
}

.odds div {
    float: left;
    width: 39px;
    height: 22px;
    background: #fff;
    border: 1px #bbb solid;
    box-shadow: 1px 1px 2px #bbb;
    font-size: 8px;
    line-height: 22px;
    text-align: center;
    color: #8f8f8f;
    font-weight: 500;
    margin: 0 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear
}

.gdts div {
    width: auto
}

#lt_selector .to li:hover:nth-last-child(2) {
    border: 1px #11b35e solid
}

.xzjz-li {
    width: 800px;
    margin: 10px auto 0;
    padding: 10px 20px;
    background: #fafafa;
    border: 1px solid #e1e1e1
}

.ball-one-ten {
    width: 25px !important;
    height: 25px !important;
    line-height: 20px !important;
    font-size: 18px !important;
    margin-right: 5px !important
}

.ball-one-five {
    width: 40px !important;
    height: 40px !important;
    line-height: 33px !important;
    font-size: 26px !important;
    margin-right: 12px !important
}

.ball-one-plus {
    width: 30px !important;
    height: 30px !important;
    line-height: 33px !important;
    font-size: 26px !important;
    margin-right: 4px !important;
    background: rgba(0, 0, 0, 0) !important;
    color: #666 !important;
    border: 0 !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0) !important
}

.ball-sum-num {
    border: 0 !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0) !important;
    padding: 3px !important
}

.ball_liuhecai {
    text-align: left !important;
    padding-left: 7px
}

.ball_liuhecai>p {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 !important
}

.ball_liuhecai p span:first-child {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 2px 3px 0 0
}

.ball_liuhecai p span:last-child {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #666;
    display: inline-block
}

.ball_blue,
.ball_green,
.ball_grey,
.ball_red {
    color: #fff !important
}

.ball-plus {
    color: #666 !important;
    padding: 10px !important;
    font-size: 30px !important
}

.gd-box-plus {
    font-weight: 700;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 4px
}