 [v-cloak] {
   display: none;
 }

 /*右侧样式*/
 .ff {
   height: 40px;
   line-height: 40px;
   border: 1px solid rgb(233, 233, 233);
   padding-left: 82px;
   margin: 6px -13px 10px -32px
 }

 #f1 {
   background: #FFF9F9 url(../../img/lottery/icon/1.png) no-repeat 32px 9px;
 }

 #f2 {
   background: #FFF9F9 url(../../img/lottery/icon/2.png) no-repeat 32px 9px;
 }

 #f3 {
   background: #FFF9F9 url(../../img/lottery/icon/3.png) no-repeat 32px 9px;
 }

 #f4 {
   background: #FFF9F9 url(../../img/lottery/icon/4.png) no-repeat 32px 9px;
 }

 #f5 {
   background: #FFF9F9 url(../../img/lottery/icon/5.png) no-repeat 32px 9px;
 }

 #f6 {
   background: #FFF9F9 url(../../img/lottery/icon/6.png) no-repeat 32px 9px;
 }

 #f7 {
   background: #FFF9F9 url(../../img/lottery/icon/7.png) no-repeat 32px 9px;
 }

 .rcon h2 {
   margin: 10px 0;
   font-size: 13px
 }

 .top {
   margin-top: 10px;
   width: 993px;
   height: 22px;
   border: 1px solid #E8E8E8;
   line-height: 22px
 }

 .top span {
   float: right;
   margin-right: 20px
 }

 .top a {
   color: #039
 }

 /*左侧*/
 .rule-box {
   margin: auto;
   margin-bottom: 10px;
   width: 1000px
 }

 .rule-left {
   float: left;
   overflow: hidden;
   width: 218px
 }

 .lbar {
   overflow: hidden;
   width: 243px;
   height: 53px;
   border-top: 3px solid #e78b20;
   color: #e78b20;
   text-align: center;
   font-size: 20px;
   line-height: 53px
 }

 .lbar span {
   float: left;
   width: 100%;
   font-weight: 700
 }

 .list ul {
   display: block;
   color: #000
 }

 .list li span {
   margin-left: 18px
 }

 .list li {
   height: 40px;
   line-height: 40px;
   padding-left: 60px;
   border-top: 1px solid #eee;
   font-size: 14px;
   cursor: pointer
 }

 .list li:last-child {
   border-bottom: 0
 }

 .list li:hover {
   padding-left: 61px;
   color: #C00;
   text-decoration: none;
   border-left: 2px solid #f13131
 }

 .list li img {
   width: 28px;
   height: 28px
 }

 /*右侧*/
 .rule-right {
   float: right;
   overflow: hidden
 }

 .rbar {
   padding-left: 10px;
   height: 50px
 }

 .rbar span {
   margin-left: 10px;
   font-weight: 700;
   font-size: 16px;
 }

 .rbar a {
   float: right;
   margin-right: 10px;
   color: #069;
   line-height: 51px
 }

 #rcont {
   padding: 25px 15px 0
 }

 .rcon,
 .sixrcon {
   margin-left: 16px;
   height: auto;
   line-height: 22px
 }

 .sixrcon .label {
   display: block;
   margin: 10px 0;
   font-weight: 700
 }

 .rcon span {
   float: right;
   margin-right: 0;
   width: 85px;
   height: 26px;
   text-align: center;
   line-height: 26px
 }

 .rcon span a:hover {
   color: #ff3232
 }

 .rcon h2 {
   line-height: 10px
 }

 .rcon h2 a:hover {
   color: #ff3232
 }

 .rcon p li {
   float: left;
   width: 730px
 }

 .hong {
   color: #C00
 }

 .lan {
   color: #036
 }

 .rbot {
   clear: both;
   overflow: hidden;
   width: 785px;
   height: 13px
 }

 .height {
   float: left;
   width: 700px;
   height: 56px
 }

 .s-table td {
   padding: 2px 9px;
   border: 1px #CCC solid;
   color: #666
 }

 .pk10_tab td {
   height: 29px;
   text-align: center
 }

 .pk10_tab .bgcolor td {
   background: #F2F2F2
 }

 .pk10_tab .bgcolor_1 td {
   background: #fff
 }

 .pk10_tab .strong {
   font-weight: 700
 }

 .pk10_tab .red {
   color: red
 }

 #LHC-Slot-Container-220 {
   margin-top: 10px
 }

 .rule-box {
   background: #fff
 }

 .rule-left {
   width: 243px;
   border: 1px solid #ececec;
   border-top: none;
   background: #fff
 }

 .rule-right {
   width: 753px;
   border-left: 1px solid #333a40
 }

 .playIcon {
   width: 40px;
   height: 40px
 }

 .back {
   position: fixed;
   right: 60px;
   bottom: 40px;
   font-size: 18px;
   border: 1px solid #bbb;
   padding: 5px;
   border-radius: 10px;
   background-color: #f0f0f0;
 }

 .right_top[data-v-062258f5] {
   flex: 1;
   margin-left: -43px;
 }

 .right_top .right_top_top[data-v-062258f5] {
   width: 100%;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .right_top .right_top_top .right_top_icon[data-v-062258f5] {
 }

 .right_top .right_top_top .right_top_title[data-v-062258f5] {
   font-size: 30px;
   margin-right: 20px;
 }

 .agent_thatw[data-v-4d13681b] {
   width: 100%;
   margin-top: 12px;
 }

 .ivu-table-wrapper {
   position: relative;
   border: 1px solid #dcdee2;
   border-bottom: 0;
   border-right: 0;
 }

 .ivu-table {
   width: inherit;
   height: 100%;
   max-width: 100%;
   overflow: hidden;
   color: #515a6e;
   font-size: 12px;
   background-color: #fff;
   box-sizing: border-box;
 }

 .ivu-table-header {
   overflow: hidden;
 }

 .ivu-table table {
   table-layout: fixed;
 }

 .ivu-table-border td,
 .ivu-table-border th {
   border-right: 1px solid #e8eaec;
 }

 .ivu-table th {
   height: 40px;
   white-space: nowrap;
   overflow: hidden;
   background-color: #f8f8f9;
 }

 .ivu-table td,
 .ivu-table th {
   min-width: 0;
   height: 48px;
   box-sizing: border-box;
   text-align: left;
   text-overflow: ellipsis;
   vertical-align: middle;
   border-bottom: 1px solid #e8eaec;
 }