* {
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
}

.wrap-bg {
  /*!key_wrapBg_start*/
  background: #fff;
  /*!key_wrapBg_end*/
  overflow: hidden;
  padding-bottom: 10px;
  display: unset;
}

.tab-sel {
  font: 14px/31px Microsoft Yahei
}

.notice-tab li.tab-more {
  width: 68px;
  font-size: 14px
}

.part-3-cont-right {
  width: 247px;
  height: 446px;
  padding-left: 0;
  float: left;
  overflow: hidden;
  border: 1px solid #e5e5e5
}

.tableCarousel {
  position: relative;
  width: 100%
}

.tableCarousel .thead div {
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  font-weight: 400;
  width: 33.33333%;
  float: left;
  text-align: center
}

.tableCarousel p>span {
  padding: 0 4px 0 4px;
  box-sizing: border-box;
  height: 37px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableCarousel .tbody p>span:first-of-type>span {
  margin-right: 10px;
  margin-top: 10px;
  line-height: 19px;
  border-radius: 3px;
  display: inline-block;
  width: 19px;
  height: 19px;
  text-align: center
}

.tableCarousel .tbody {
  position: absolute;
  z-index: 4;
  top: 39px;
  width: 100%;
  cursor: pointer
}

.tableCarousel .tbody p {
  width: 100%;
  display: flex;
  line-height: 35px
}

.tableCarousel .thead {
  width: 100%;
  display: block
}

.tableCarousel .thead p span {
  text-align: center;
  display: inline-block
}

/* 中奖榜 */
.tableCarousel .tbody p>span:first-child {
  width: 28%
}
.tableCarousel .tbody p>span {
  width: 38%
}

.tableCarousel .tbody p>span:last-child {
  width: 34%
}

.c-right {
  text-align: center
}

.part-3-cont-right .ratetop {
  position: relative;
  z-index: 9;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 10px
}

.slide {
  width: 100%;
  height: 285px;
  margin: 10px 10px 12px 0
}

.slide #slides {
  position: relative;
  height: 285px;
  width: 743px;
  float: right
}

.slide .pagination {
  position: absolute;
  bottom: 14px;
  right: 10px;
  text-align: center;
  z-index: 9;
  overflow: hidden
}

.slide .caption {
  display: none;
  position: absolute;
  height: 25px;
  left: 0;
  bottom: 0;
  filter: alpha(opacity=60);
  width: 510px;
  line-height: 25px;
  text-shadow: none
}

.slide .pagination li {
  float: left;
  margin: 0 3px;
  filter: alpha(opacity=50);
  opacity: .5;
  width: 21px;
  height: 21px;
  overflow: hidden;
  text-decoration: none;
  line-height: 21px;
  cursor: pointer
}

.slide .pagination a {
  width: 21px;
  height: 21px;
  float: left;
  overflow: hidden;
  line-height: 21px;
  color: #666
}

.slide .pagination li.current {
  filter: alpha(opacity=100);
  opacity: 1;
  color: #fff
}

.slide .pagination li.current a {
  margin: 0;
  width: 21px;
  height: 21px;
  color: #fff
}

.slides_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden
}

.slides_container .slides_control {
  height: 100%
}

.slides_container .slides_control .show_picture {
  width: 100%;
  height: 100%
}

.slides_container .slides_control .show_picture * {
  display: block;
  height: 100%;
  width: 100%;
  background: #fff
}

.show_picture img {
  width: 743px;
  height: 285px
}

.part-2-cont-right {
  height: 444px;
  font: 16px/24px Microsoft YaHei;
  overflow: hidden;
  float: left;
  margin-left: 10px;
  width: 436px;
  padding: 0 25px
}

.news-title {
  margin-top: 10px
}

.news-title a {
  text-align: center;
  font-size: 18px;
  display: block;
  line-height: 50px
}

.news-bar-content li {
  line-height: 30px;
  font-size: 14px
}

.news-bar-content li .pad {
  margin: 0 10px
}

.title-top {
  height: 38px;
  line-height: 38px
}

.notice-tit {
  font: 16px/30px 'Microsoft Yahei';
  float: left;
  font-weight: 700
}

.notice-tit .icon {
  width: 18px;
  height: 16px;
  background-position: -150px -60px;
  margin: -5px 5px 0 0;
  vertical-align: middle;
  margin-top: 5px
}

.notice-tab li {
  float: left;
  width: 90px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px
}

.notice-tab li a {
  display: block;
  margin-right: 2px
}

.notice-tab li.on {
  position: relative
}

.notice-list li {
  padding: 5px 10px 0;
  box-sizing: border-box;
  line-height: 26px;
  height: 101px;
  overflow: hidden
}

.notice-list li:last-child {
  border-bottom: 0
}

.notice-list .lot-name {
  float: left;
  margin-top: 4px
}

.notice-list .lot-name a {
  font-size: 14px;
  padding-right: 5px
}

.notice-list span.term {
  float: right;
  margin-top: 4px
}

.notice-list .redball {
  float: left;
  font-size: 16px;
  margin-right: 8px;
  text-align: center;
  /*!key_openTypeNumColor_start*/
  color: #fc9721
    /*!key_openTypeNumColor_end*/
}

.notice-list .blueball {
  float: left;
  font-weight: 700;
  margin-left: 6px;
  display: inline
}

.notice-list li.last {
  border-bottom: none;
  margin-bottom: 12px;
  overflow: hidden;
  zoom: 100%
}

.notice-list li br {
  clear: both
}

.draw-contents {
  height: 408px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5
}

.draw-contents .fr {
  float: left
}

.draw-contents .fr a {
  /*!key_openTypeAColor_start*/
  color: #333
    /*!key_openTypeAColor_end*/
}

.notice-list li span.term {
  display: block;
  overflow: hidden;
  text-align: right;
  float: right
}

.notice-list li span.term a:hover {
  text-decoration: none
}

.notice-list li .kjTab {
  margin-top: 5px;
  margin-bottom: 0
}

.notice-list li .kjTab td {
  text-align: center
}

.notice-list li .kjTab td .num {
  font-weight: 700;
  padding: 0 3px
}

.notice-list li.first {
  border-bottom: none;
  margin-bottom: 0
}

.notice-list li.first .lot-name {
  margin-top: 12px
}

.notice-list li.first .term {
  margin-top: 12px
}

.submain {
  width: 743px;
  margin-left: 257px;
  height: 280px;
  margin-bottom: 15px
}

.quick-buy-box {
  width: 470px;
  height: 283px;
  margin-top: 0;
  box-sizing: border-box;
  float: left
}

.quick-tab-list {
  overflow: hidden
}

.quick-tab-list li {
  width: 97px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  font-size: 14px;
  line-height: 44px
}

.quick-tab-list li a {
  display: block
}

.quick-tab-list li a:hover {
  text-decoration: none
}

.quick-tab-list li a label {
  margin-left: 4px;
  width: 54px;
  height: 16px;
  text-align: center;
  font: 12px/16px Microsoft YaHei;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 8px
}

.quick-tab-list li a label i {
  background-position: -390px 0;
  width: 3px;
  height: 3px;
  position: absolute;
  left: -3px;
  top: 13px
}

.quick-tab-list li i {
  width: 7px;
  height: 6px;
  background-position: -200px 0;
  position: absolute;
  top: -2px;
  left: -99999px;
  overflow: hidden
}

.qb-info {
  height: 70px;
  line-height: 70px
}

.qb-info li {
  float: left;
  font-size: 14px
}

.qb-info li.bztz {
  overflow: hidden;
  float: right
}

.qb-selectnumber {
  height: 65px;
  line-height: 42px;
  border-radius: 30px
}

.qb-selectnum {
  float: left;
  padding: 0 0 0 15px
}

.qb-selectnum li {
  float: left;
  margin-right: 10px;
  width: 42px;
  height: 42px
}

.qb-selectnum li.mr30 {
  margin-right: 30px
}

.qb-selectnum li.qb-red {
  background-position: -300px -350px
}

.qb-selectnum li.qb-blue {
  background-position: -300px -300px
}

.qb-selectnum li input {
  width: 41px;
  height: 41px;
  margin: 12px 0 0 12px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  line-height: 41px
}

.qb-selectnum li input.on {
  width: 30px;
  height: 20px
}

.sale_end_timer .red {
  font-weight: 400
}

.sale_end_timer {
  width: 110px;
  text-align: center;
  font-weight: 400 !important
}

.qb-tz-box {
  height: 34px;
  font-size: 14px;
  margin-top: 40px
}

.qb-tz-box .bei-box {
  width: 240px;
  margin-top: 3px
}

.dg-btn-box {
  float: left
}

.change-btn {
  width: 270px;
  margin-right: 15px;
  vertical-align: middle;
  line-height: 34px
}

.change-btn:hover {
  text-decoration: none
}

.change-btn i {
  color: #939394;
  font-size: 17px;
  margin: 0 3px 0 15px;
  vertical-align: middle
}

.bei-box {
  width: 500px
}

.bei-box input {
  width: 52px;
  text-align: center;
  line-height: 28px;
  height: 28px;
  vertical-align: top;
  float: left
}

.bei-box a {
  width: 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  float: left
}

.bei-box a:hover {
  text-decoration: none
}

.dg-btn-box .dgp-tz-btn,
.dg-btn-box a.dg-tz-btn {
  float: left;
  text-align: center;
  width: 99px;
  height: 35px;
  vertical-align: middle;
  font: 16px/35px Microsoft Yahei
}

.change-btn {
  margin-right: 15px;
  width: 99px;
  height: 35px;
  display: block;
  float: left
}

.bei-box {
  line-height: 26px
}

.no-dg {
  width: 510px;
  background: url(/cai33/statics/images/no_dg.png) 0 0 no-repeat;
  margin: 0 auto
}

.tz_bei_add {
  margin-right: 10px
}

.qb-box-list {
  padding: 0 15px
}

.right-info {
  width: 248px;
  float: right
}

.app-down {
  height: 155px;
  overflow: hidden
}

.app-down ul {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden
}

.app-down ul li {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 110px
}

.down-tit {
  margin: 1px;
  padding-left: 10px;
  height: 44px;
  line-height: 44px;
  font-size: 15px
}

.down-img {
  font-size: 0;
  margin: 5px
}

.down-img img {
  width: 80px;
  height: 80px
}

.down-img p {
  font-size: 12px;
  text-align: center
}

.down-txt {
  margin-top: 9px
}

.down-txt a {
  font-size: 14px;
  display: block;
  overflow: hidden;
  margin-bottom: 8px;
  line-height: 26px;
  cursor: pointer
}

.down-txt a.hover {
  color: #ee7537
}

.down-android i,
.down-apple i {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
  text-decoration: none;
  vertical-align: middle
}

.mobile-more {
  margin-left: 32px;
  float: left;
  line-height: 20px
}

.help-tab-box {
  height: 128px
}

.help-tab li {
  float: left;
  height: 36px;
  width: 123px;
  font-size: 14px;
  line-height: 36px;
  text-align: center
}

.part-1-cont-right .help-tab-box ul li {
  padding: 0 10px
}

.help-ul {
  padding: 10px;
  clear: both;
  line-height: 24px
}

.JS_blockPage {
  display: none;
  border-radius: 5px;
  z-index: 1001;
  width: 500px;
  min-height: 220px;
  margin-left: -245px;
  margin-top: -160px;
  position: fixed;
  padding: 0;
  top: 50%;
  left: 50%;
  text-align: center
}

.detail_dialog {
  padding: 17px;
  font-size: 12px;
  line-height: 18px;
  position: relative
}

.JS_blockPage.big {
  animation: .3s key_sb ease-out;
  -webkit-animation: .3s key_sb ease-out;
  -ms-animation: .3s key_sb ease-out;
  transform-origin: center;
  -webkit-transform-origin: center;
  -ms-transform-origin: center
}

@-webkit-keyframes key_sb {
  0% {
    -webkit-transform: scale(.5);
    opacity: .8
  }

  100% {
    -webkit-transform: scale(1)
  }
}

@-moz-keyframes key_sb {
  0% {
    -moz-transform: scale(.5);
    opacity: .8
  }

  100% {
    -moz-transform: scale(1)
  }
}

@keyframes key_sb {
  0% {
    transform: scale(.5);
    opacity: .8
  }

  100% {
    transform: scale(1)
  }
}

@-ms-keyframes key_sb {
  0% {
    -ms-transform: scale(.5);
    opacity: .8
  }

  100% {
    -ms-transform: scale(1)
  }
}

.JS_blockPage .shortWidth {
  width: 80px;
  text-align: right;
  padding-right: 5px
}

.detail_dialog>h3 {
  display: block;
  position: relative;
  font-size: 16px;
  padding: 5px 5px 15px 0;
  font-weight: 400;
  z-index: 2
}

#block_close {
  width: 18px;
  height: 18px;
  display: block;
  z-index: 3;
  position: absolute;
  top: 17px;
  right: 18px;
  cursor: pointer;
  background: url(../../../../common/statics/img/icon/mdl-icon.png) no-repeat -11px -80px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out
}

#block_close:hover {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg)
}

.data {
  margin-top: 30px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  height: 100px;
  overflow: auto;
  border-radius: 5px;
  padding: 2px 10px
}

.JS_blockPage .c1 {
  cursor: pointer
}

.JS_blockPage .one {
  padding: 6px 5px 6px 5px;
  margin: 0 10px
}

.JS_blockPage .one:first-of-type {
  border-top: none
}

.JS_blockPage .one>strong {
  display: block;
  text-align: left;
  padding: 3px 0;
  font-size: 14px
}

.JS_blockPage .one>p {
  display: block;
  text-align: left;
  line-height: 1.42
}

.detail_dialog h4 {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 33px;
  font-weight: 400;
  padding-top: 6px
}

.zdinfo td {
  line-height: 20px;
  padding-bottom: 3px
}

.detail_dialog .title {
  margin-top: 15px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  padding-bottom: 5px;
  position: relative
}

.data-order {
  margin-top: 12px;
  min-height: 160px;
  max-height: 270px
}

.tab-sel {
  color: #6097cc
}

.part-3-cont-right {
  background: #fff
}

.tableCarousel .thead {
  background-color: #f7f7f7;
  color: #666
}

.tableCarousel .tbody p {
  border-bottom: 1px dotted #464646
}

.part-3-cont-right .ratetop {
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
  color: #fff
}

.slide .caption {
  background: #844421;
  color: #FFF
}

.slide .pagination li {
  color: #fff;
  background: #181a17
}

.slide .pagination li.current {
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
}

.part-2-cont-right {
  background: #fff;
  border-top: 1px solid #e5e5e5
}

.news-title a {
  /*!key_mainColor_start*/
  color: #d81e06;
  /*!key_mainColor_end*/
}

.draw-notice {
  background: #fff
}

.notice-tab li a {
  color: #fff;
  /*!key_tagGrayColor_start*/
  background: #f2533f;
  /*!key_tagGrayColor_end*/
}

.notice-tab li a:hover {
  color: #F13131
}

.notice-tab li.on a {
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
  color: #fff
}

.notice-list li {
  border-bottom: 1px solid #f5f5f5
}

.notice-list .lot-name {
  color: #999
}

.notice-list span.term {
  color: #666
}

.notice-list span.term a {
  color: #999
}

.notice-list .blueball {
  color: #4495ff
}

.draw-contents .fr {
  color: #d8d8d8
}

.notice-list li .red {
  color: #F13131
}

.notice-list li b {
  color: #F13131
}

.notice-list li span.term {
  color: #999;
  height: 25px;
  width: 60%
}

.notice-list li span.term a {
  color: #666
}

.notice-list li span.term a:hover {
  color: #F13131
}

.notice-list li .kjTab {
  border-top: 1px #DADADA solid;
  border-left: 1px #DADADA solid
}

.notice-list li .kjTab td {
  border-right: 1px #DADADA solid;
  border-bottom: 1px #DADADA solid
}

.notice-list li .kjTab td .num {
  color: #F13131
}

.quick-buy-box {
  background: #fff
}

.quick-tab-list {
  /*!key_tagGrayColor_start*/
  border-bottom: 2px solid #f2533f;
  /*!key_tagGrayColor_end*/
}

.quick-tab-list li {
  color: #333;
  border: 1px solid #fff
}

.quick-tab-list li a {
  color: #fff;
  /*!key_tagGrayColor_start*/
  background: #f2533f;
  /*!key_tagGrayColor_end*/
}

.quick-tab-list li a:hover {
  color: #fff
}

.quick-tab-list li.on a {
  color: #fff;
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
}

.quick-tab-list li a label {
  color: #FFF;
  background-color: #ff900c
}

.notice-list li.bb {
  border-bottom: solid 1px #e4e4e4
}

.qb-info {
  color: #fc9721
}

.qb-info li.bztz {
  color: #ccc
}

.qb-selectnumber {
  background: #ececec
}

.qb-selectnum li input {
  color: #fff;
  /*!key_hotBallColor_start*/
  background: #fc9721;
  /*!key_hotBallColor_end*/
}

.qb-selectnum li input.on {
  color: #fff;
  border: 2px #fff solid;
  border-radius: 2px;
  background: #036aba
}

.sale_end_timer .red {
  color: #ff6000
}

.sale_end_timer {
  color: #666
}

.bei-box input {
  background: #fff;
  color: #666;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0
}

.bei-box a {
  color: #666;
  background: #fff;
  border: 1px solid #d0d0d0
}

.dg-btn-box .dgp-tz-btn,
.dg-btn-box a.dg-tz-btn {
  /*!key_btnBetColor_start*/
  background: #fc9721;
  /*!key_btnBetColor_end*/
  color: #fff
}

.dg-btn-box .dg-tz-btn:hover,
.dg-btn-box .dgp-tz-btn:hover {
  background: #fc9721
}

.change-btn {
  /*!key_btnChangeColor_start*/
  background: #fc9721;
  /*!key_btnChangeColor_end*/
  color: #fff
}

.change-btn:hover {
  color: #fff
}

.right-info {
  background: #fff
}

.down-tit {
  color: #fff;
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
}

.down-txt a {
  color: #666
}

.help-tab li {
  /*!key_tagGrayColor_start*/
  background: #f2533f;
  /*!key_tagGrayColor_end*/
  color: #333
}

.help-tab li a {
  color: #fff
}

.help-tab li.on {
  /*!key_mainColor_start*/
  background: #d81e06;
  /*!key_mainColor_end*/
}

.JS_blockPage {
  background-color: #F0F6F0;
  border: 1px #E1E1E1 solid
}

.detail_dialog>h3 {
  border-bottom: 1px #ea721a solid;
  color: #EA721A
}

.data {
  border: 1px solid #F4F4F4;
  background: #fff;
  color: #555
}

.JS_blockPage .one {
  border-top: 1px dotted #D6DFD0
}

.JS_blockPage .one>strong {
  color: #EA721A
}

.detail_dialog h4 {
  color: #999
}

.zdinfo td {
  border-bottom: 1px #d5d5d5 dashed
}

.detail_dialog .title {
  border-bottom: 1px #d5d5d5 dashed
}

._alert_ a {
  text-decoration: none;
  color: #00f
}

._alert_ a u {
  text-decoration: none;
  color: #00f
}

#homeIndex .home-wrapper {
  height: calc(100% - 36px);
  overflow-y: auto;
}

#homeIndex .home-wrapper::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
}


#homeIndex .home-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #eee;
}

#homeIndex .start {
  width: 22px;
  height: 22px;
  display: block;
  float: left;
  background: url(./../img/i-star.png);
  margin-right: 10px;
  position: relative;
  top: 2px;
}

#homeIndex .home-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #888;
}

#homeIndex .luck-number-tabel>thead>tr>th {
  white-space: nowrap;
}

#homeIndex .luck-number-tabel>tbody>tr>td {
  word-break: break-word;
  font-size: 13px;
}

#homeIndex .pk10-images {
  width: 25px;
  font-size: 14px;
}

#homeIndex .pcdd-images,
#homeIndex .quanquan-images,
#homeIndex .pcdd-images-hz,
#homeIndex .lhc-images {
  height: 26px;
  width: 25px;
  line-height: 26px;
  font-size: 14px;
}

#homeIndex .lhc-images {
  min-height: 50px;
}

#homeIndex .td-flex {
  font-size: 14px;
}

#homeIndex .touzi-images {
  width: 30px;
  height: 30px;

}

#homeIndex .luck-number-tabel>tbody>tr:nth-child(odd) {
  background-color: #f6f6f6;
}

#homeIndex.part-2-cont-right {
  width: 740px;
  padding: 0;
  font-size: 14px;
}

.openBar {
  color: #333;
  font-size: 18px;
  padding: 5px 0;
}

.openBar span {
  float: left;
  text-shadow: 1px 1px 2px #eef;
  font-weight: 500;
}

.openBar small {
  float: right;
}

.openBar time {
  margin-left: 20px;
  font-size: 12px;
}

.small {
  font-size: 80%;
}

.noticeList{
  position: fixed;
  background-color: rgba(50,50,50,0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11000;
  display: none;
}

.noticeList .notice_box{
  margin: 200px auto;
  background-color: #fff;
  width: 700px;
  border-radius: 5px;
}
.noticeList .notice_box .title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
  position: relative;
}
.noticeList .notice_box .title .icon_close {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/alertbox/icon_close.png') no-repeat center/30px 30px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.noticeList .notice_box .content{
  display: flex;
  height: 400px;
}
.noticeList .notice_box .content .left{
  flex: 0 0 240px;
  border-right: 1px solid #ededed;
  overflow-y: auto;
}
.noticeList .notice_box .content .left .notice_title{
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #ededed;
  color: #181a17;
  cursor: pointer;
}
.noticeList .notice_box .content .left .notice_title .red_icon{
  color: #F13131;
  font-size: 28px;
  vertical-align: sub;
}
.noticeList .notice_box .content .left .current_title{
  color: #F13131;
  border-right: 2px solid #F13131;
  cursor: default;
}
.noticeList .notice_box .content .right{
  flex: 1;
  overflow-y: auto;
}
.noticeList .notice_box .content .right .right_title{
  color: #F13131;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.noticeList .notice_box .content .right .right_content{
  padding: 10px;
}