/* .wrap-bg { background: #fff; overflow: hidden; padding-bottom: 10px; } */
/* 模版颜色 */
.text-col {
    color: #d81e06 !important;
}
.before-col:before {
    color: #d81e06 !important;
}
/* .text-green { color: #26ab5f !important; }
.text-deepgreen { color: #1dbeb2 !important; } */
.text-whole {
    color: #f5f5f5 !important;
}
/* bg col */
.bg-col {
    background: #d81e06 !important;
}
.border-global {
    border: 1px solid #d81e06 !important;
}
.bg-nav-col {
    background: #f13131 !important;
}
.bg-whole {
    background: #f5f5f5 !important;
}
/* 多文件引用的样式替换 */
/* login图片 */
/* .sprite-logo {
    background: url(/pc/common/statics/img/home/logo.png) center no-repeat !important;
    background-size: contain;
} */
/* 头部导航 */
.header-navbar-plus {
    /* background: #0194D8; */
    background: #f13131 !important;
}
/* .header-navbar-plus .lottery-plus h2 {
    background: #d81e06;
    border: 2px solid #d81e06;
    border-right: 2px solid #f13131;
    border-bottom: none;
} */
.nav-plus li a:hover, .nav-plus li.on a {
    background: #d81e06 !important;
}
/* index */
.quick-tab-list {
    border-bottom: 2px solid #f2533f !important;
}
.quick-tab-list li.on a, .help-tab li.on, .notice-tab li.on a {
    background: #d81e06 !important;
}
.quick-tab-list li a, .help-tab li, .notice-tab li a {
    background: #f2533f !important;
}
.pic_logo current {
    background: #d81e06 !important;
}
.slide .pagination li.current {
    background: #d81e06 !important;
}
.draw-contents .fr a {
    color: #333 !important;
}
.notice-list .redball {
    color: #fc9721 !important;
}
/* index ads */
/* ._float_AD {
    margin-top: -142px;
    max-width: 144px;
}
._float_AD.l_AD {
    left: .6%;
}
._float_AD.r_AD {
    right: .6%;
}
._float_AD > img {
    max-width: 144px;
}
._float_AD [name=close_btn] {
    width: 90px;
    height: 37px;
    left: 50%;
    margin-left: -45px;
    bottom: -3px;
}
._float_AD .top1_btn {
    width: 120px;
    height: 42px;
    left: 54%;
    margin-left: -64px;
    top: 22px;
}
._float_AD .top2_btn {
    width: 120px;
    height: 40px;
    left: 54%;
    margin-left: -64px;
    top: 70px;
}
._float_AD .two_img {
    width: 86px;
    height: 86px;
    top: 132px;
    left: 28px;
}
._float_AD .two_img img {
    width: 100%;
    height: auto;
}

#_leftAD .top1_btn {
    top: 22px;
    left: 54%;
}
#_leftAD .top2_btn {
    top: 70px;
    left: 54%;
}
#_leftAD .two_img {
    top: 132px;
    left: 28px;
} */


/* promotion */
.new_tabel tbody tr:nth-child(1) {
    background: #d81e06 !important;
}
/* mobile */
.app_center div {
    background: #f13131 !important;
}
.app_center .menu-on {
    background: #d81e06 !important;
}
/* draw */
.kj_box .kj_tab .title {
    background: #f13131 !important;
}
.trend-box .trend-main .right-content .row-content .trend-content span a {
    background: #d81e06 !important;
}
/* mall */
.live-nav .nav-li .nav-btn:hover {
    color: #d81e06 !important;
}
.user-center ul li:hover * {
    color: #d81e06 !important;
}
/* usercenter */
.menu li.current, .menu li:hover {
    background: #d81e06 !important;
}
.pay-top_1 > a.current, .top_lab > .current {
    background: #d81e06 !important;
}
.pay-top_1 > a, .top_lab > div {
    background: #f13131 !important;
}
.datagrid-header-row td {
    background: #d81e06 !important;
}
/* reg */
.reg .submit {
    background: #d81e06 !important;
}
.submit {
    background: #d81e06 !important;
}
